html{
    text-align: center;
    background-color:grey;
}

#colorTable{
    border: 1px  solid black ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color:darkgray;
}

h1{
    color: blue;
}

div{
    color: blanchedalmond;
}

th{
    padding-left: 50px;
    padding-right: 50px;
}